body{
    background-image: url(SebbyG.jpg),url(Emperor_penguin.png), url(space.jpg);
    background-repeat: no-repeat, no-repeat, repeat;
    background-attachment: fixed, fixed, scroll;
    background-position: left bottom, right bottom, top left;
    margin: 0px;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
    margin-top: 0px;
    color: gold;
    text-decoration: underline;
    font-style: italic;
}
.navbar{
    background-color: #003B5C;
    border-radius: 30px;
    position: sticky;
    top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    }
    .navbar ul{
        overflow: auto;
    }
    .navbar li{
        float: left;
        list-style: none;
        margin: 15px 20px;
    }
    .navbar li a{
        padding: 3px 4px;
        text-decoration: none;
        color: white;
    }
    .navbar li a:hover{
        color: #eeee66;
    }
    .navbar li a:active{
        color: #ff0000;
    }
    p{
        font-size: large;
        color: white;
        margin-left: 23%;
        margin-right: 23%;
    }
    a{
        color: yellow;
    }
    .centerimg{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    figcaption{
        text-align: center;
        color: aqua;
        font-weight: bold;
    }
    table,td,tr,th{
        padding-top: 3px;
        padding-bottom: 3px;
        text-align: center;
        border-collapse: collapse;
        width: 600px;
        color: white;
        font-size: 102%;
    }
    th{
        color: yellow;
        font-weight: bold;
        text-align: center;
    }